/*Navbar*/

.App{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: minmax(90px,auto);
    grid-gap: 4vw;
}

.Nav{
    color: #ffffff;
    grid-column: 1/9;
    background: greenyellow;

    display: grid;
    grid-template-columns: repeat(8,1fr);

    h1{
        font-size: 5.2vw;
        grid-column: 1/2;
         font-family: 'PT Sans Narrow', sans-serif;

    }
    .links{

        grid-column:5/9;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        align-items: center;
        a{   font-family: 'Indie Flower', cursive;
            text-decoration: none;
            color: #ffffff;
            margin: auto auto;
            font-size: 2.3vw; 
            padding: 0;  

        }
    }
    @media screen  and (max-width: 520px) {
            .App{       
                display: grid;
           
            .Nav{
                display: grid;
                width: auto;
                h1{
                    margin:  auto 10px;
               }
                display: grid;
                .links{
                    background-color: #5120bb4d !important;
                    grid-column-start: 2;
                    display: grid;
                    a{
                        margin: auto auto;
                    }
            }
          
            }
        }
        }
        
}

@media screen  and (max-width: 700px) {
    .App{       
        display: grid;  
    .Nav{
        display: grid;
        h1{
            grid-column: 1;
            margin:  auto 10px;
       }
        display: grid;
        .links{
            grid-column-start: 3;
            display: grid;       

    }
    }
}
}

 @media screen  and (max-width: 700px) {
     .Nav{
            a{
       font-size: 2.6vw!important;
     }
 }

}
@media screen  and (max-width: 420px) {
    .Nav{
           a{
      font-size: 11px!important;

    }
}

}
@media screen  and (max-width: 380px) {
    .Nav{
           a{
      font-size: 3vw!important;

    }
}

}
@media screen  and (max-width: 320px) {
 
    .Nav{
        .links{
            grid-column:2/9 !important;

           
    h1{
        font-size: 7vw !important;
  
      }
    }
}
}
@media screen  and (max-width: 200px) {
    .Nav{
          a{
      font-size: 4vw !important;

    }
}
}
/*Animation*/
.Animation{
    background: greenyellow;
    grid-template-columns: repeat(8,1fr);
    display: grid;
    grid-column: 1/9;
    justify-items: center !important;
    img{
        grid-column: 2/8 !important;
        height: 35vw;
    }
    #next{
        grid-column: 8/9 !important;
        height: 5vw;
        margin: auto;        
    }
    #previous{
        margin: auto ;
        grid-column: 1/2 !important;
        height: 5vw;
        transform: rotate(180deg);
        grid-row:1/2 !important;
    }
}
/*About*/
.About{
    grid-template-columns: repeat(5,1fr);
    display: grid;
    grid-column: 1/9;
    justify-items: center !important;
    grid-gap: 20px;
    background: greenyellow;

    h2{
        margin-top: 5vw !important;
        grid-column: 2/5 !important;
        grid-row: 2/3;
        font-family: 'Dancing Script', cursive;
        margin: auto;
        width: 100%;
        text-align: center;
        font-size: 3vw !important;
        color: #ffffff;
        font-weight: 100;
    }
    p{
        grid-row: 3/5;
        grid-column: 2/5;
        font-family: 'PT Sans Narrow', sans-serif;
        text-align: center;
        line-height: 3vw ;
        color: #0000004d;
        font-size: 2.3vw !important ;
        letter-spacing: 0.1vw;
    }
}
@media screen  and (max-width: 100px) {
    .About{
        p{
            display: none;
        }
        h2{
            font-size: 1vw;
        }   
    }
}
/*Restaurant*/
.Restaurant{
    display: grid;
    grid-column: 1/9;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10vw;

    img{
        grid-column: 1/3 !important;
        height: 35vw !important;
        grid-row: 1/2 !important;
    }
    h3{
        // color: indianred;
        margin-top: 5vw !important;
        color: rgb(197, 205, 116);
        grid-column: 3/5;
        margin: 0 auto;
        grid-row: 1/2;
        font-family: 'Shadows Into Light', cursive;
        font-size: 5vw;
        letter-spacing: 0.3vw;
        font-weight: 500;  
    }
    p{  align-items: center;
        text-align: center;
        font-size: 1.5vw !important;
        grid-row: 1;
        grid-column: 3/5 ;
        margin: auto auto;
        line-height: 3.2vw !important;
        font-family: 'Cardo', serif;
        letter-spacing: 0.1vw;
        color: #9c6c026b !important;
        font-weight: 700 !important;
    }
}
/*Newsletter*/
.Newsletter{
    display: grid;
    grid-column: 1/9;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 3vw;
    background-image: url("./salad4.jpg") ;
    opacity: 0.6;
    background-size: cover;
    color: white;    

    h1{ 
        grid-column: 2/4;
        grid-row: 1/2;
        margin: 6vw auto;
        font-size: 4vw !important;
        text-transform: uppercase;
    }
    p{ margin:  0 auto;
        font-size: 4vw !important;
        letter-spacing: 0.5vw;
        grid-column: 2/4;
        margin: 3vw auto;
        text-align: center;
    }
    input{
        border: none;
        grid-row: 3;
        grid-column: 2/4;
        box-shadow: 20px 20px 50px 10px wheat inset;
        height: 1.6vw;
        width: 50%;
        margin: auto auto;
    }
    ::placeholder{
        color: #039603c7;
    }
    #email{
        grid-row: 4;
        grid-column: 2/4;
    }
    button{
        grid-column: 2/4;
        grid-row: 5;
        margin-bottom: 5vw;
        box-shadow: 20px 20px 50px 10px wheat inset;
        color: #0b8b0bc7;
        width:70%;
        height: 3vw;
        margin: auto auto;
        margin-bottom: 5vw;
        text-align: center;
    }
}
/*Footer*/
.Footer{
    width: auto !important;

    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: lemonchiffon;
    display: grid;
    grid-column: 1/9;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2vw;
    h2{
        margin: auto 1.5vw;
        font-family: 'Amatic SC', cursive;
        font-size: 2.2vw;
     
    }
   
    .About-us{
        display: grid;
        grid-column: 1/2;
       
        p{
            margin: auto 1.5vw;
            letter-spacing: 0.1vw;
            line-height: 2vw;
            font-family: 'Martel', serif;
            font-weight: 500;
            font-size: 1.7vw ;
        }
      
    }
    .Hours{
        display: grid;
        grid-column: 2/3;
        h2,h3,h4{
            margin: 1vw 1.5vw;
        }
        h3,h4{
            font-family: 'Martel', serif;
            font-weight: lighter;
            font-size: 1.6vw;
            letter-spacing: 0.1vw;
        }
    }
    
    .Follow{
        display: grid;
        grid-template-columns: 25% 50% 25%;
        h2{
            grid-column: 1/3;
        }
       
        div{
            grid-row: 3;
            grid-gap: 2vw;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            a{
                width: 4vw !important;
                height: 4vw !important;
            }
            
        }
        
        grid-column: 3/4;
    }
}




@media screen  and (max-width: 768px){
    .Footer{
        grid-gap: 4.5vw !important;
    }
    .About-us,.Follow,.Hours{

        margin:  3vw auto !important;
        grid-column: 1/4 !important;
        text-align: center !important;
        display: grid;
        h2{
            font-size: 3.5vw !important;
        }
        p{
            font-size: 2.5vw !important;
            line-height: 3.5vw !important;
            margin-top: 2.8vw !important;
            margin-left: 3vw !important;
        }
        div{
            grid-column: 1;
            margin:  auto auto !important;
            display: grid !important;
            a{
                grid-row: 2 !important;
                
                
            }
        }
        h3,h4{
            font-size: 2.7vw !important;
        }


    }



}











